/*
Common
*****************************/

html,
body {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        background-image:url(/static/img/parrish-freeman-K2W8TIxcuko-unsplash.jpg);
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #CCC;
}
/*
   Post
   *****************************/

.posts ul {
    padding: 0;
}
.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid#CCC;
}

form {
    display: flex;
    flex-direction: column;
    /* gap: 43%; */
    width: 56%;
    position: relative;
    left: 18%;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid rgb(239, 178, 22);
    border-radius: 13px;
}
.post_form textarea {
    width: 70%;
    padding: 15px;
    border: 3px rgb(15, 175, 71);
    border-radius: 13px;
    margin-bottom: 10px;
}

.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #0b0b0b;
    padding: 20px 40px;
    list-style: none;
}


.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}
.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.post li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
    
}

.posts li .name_body .datetime {
    color: yellowgreen;
    width: 20vw;
}
textarea {
    padding: 25px 0;
}


@media screen and(max-width:500px) {
    .posts li .name_body .name {
        font-size: 40px;
    }
}


img.like {
    width: 7%;
}

.name_body a {
    text-decoration: none;
}
